# Vim
.netrwhist
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# Emacs
*~
.dir-locals.el
\#*\#

# JetBrains
.idea/
cmake-build-*/

# Visual Studio Code
.vscode/

# Tags
.[Tt][Aa][Gg][Ss]
[Tt][Aa][Gg][Ss]
![Tt][Aa][Gg][Ss]/

# Misc
*.bak
*.temp
*.tmp
.ccls-cache/
.gdb_history
.git/
.svn/
.wakatime-project
compile_commands.json
cscope.*
vgcore.*
