[user]
	name = Azat Bahawi
	email = azahi@teknik.io
	signingkey = 0xB40FCB6608BBE3B6
[commit]
	gpgsign = true
[alias]
	a = add
	aa = add --all
	ac = commit --all --verbose
	al = config --get-regexp alias
	b = branch --all
	c = clone --recurse-submodules
	ca = commit --amend
	ch = checkout
	d = !"git diff-index --quiet HEAD -- || clear ; git diff --patch-with-stat"
	f = fetch --all --recurse-submodules
	gud = commit --message=\"git gud\"
	i = update-index --assume-unchanged
	iu = update-index --un-assume-unchanged
	l = log --all --decorate --abbrev-commit --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	ls = log --all --decorate --abbrev-commit --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --stat
	pl = pull --all --recurse-submodules
	ps = push
	r = remote -v
	re = reset HEAD
	ree = reset HEAD^
	s = status --short
	wc = whatchanged -p --abbrev-commit --pretty=medium
	wtc = !"curl -s whatthecommit.com/index.txt | git commit --file -"
[github]
	user = azahi
[url "git@github.com:"]
	insteadof = "gh:"
	insteadof = "github:"
	insteadof = "git://github.com/"
[url "git@gitlab.com:"]
	insteadof = "gl:"
	insteadof = "gitlab:"
	insteadof = "git://gitlab.com/"
