[user]
    name            = Azat Bahawi
    email           = azahi@teknik.io
    signingkey      = B40FCB6608BBE3B6

[credential]
    helper          = cache

[color]
    branch          = auto
    diff            = auto
    interactive     = auto
    status          = auto
    ui              = true

[core]
    commitgraph     = true
    excludesfile    = ~/.gitignore_global
    quotepath       = false
    untrackedcache  = true
    whitespace      = space-before-tab,-indent-with-non-tab,trailing-space

[commit]
    gpgsign         = false
    verbose         = false

[branch]
    autosetupmerge  = always
    autosetuprebase = always

[branch "master"]
    rebase          = true

[merge]
    ff              = only
    log             = true

[mergetool]
    keepbackup      = false
    prompt          = false

[diff]
    renames         = copies
    submodule       = log

[diff "bin"]
    textconv        = hexdump -v -C

[difftool]
    prompt          = false
    trustexitcode   = true

[log]
    date            = local
    decorate        = short

[status]
    color           = true

[apply]
    whitespace      = fix

[push]
    default         = simple
    followtags      = true

[pull]
    rebase          = true

[fetch]
    prune           = true

[rebase]
    autosquash      = true
    autstash        = true

[help]
    autocorrect     = 1

[alias]
    a               = config --get-regexp alias
    b               = "!f() { git checkout -b \"$1\" 2> /dev/null || git checkout \"$1\" } ; f"
    bs              = branch -a
    c               = clone --recursive
    ca              = !git add -A && git commit -av
    co              = diff --name-only --diff-filter=U
    cor             = "!f() { git commit --amend --author \"$1 <$2>\" -C HEAD; } ; f"
    d               = !"git diff-index --quiet HEAD -- || clear ; git --no-pager diff --patch-with-stat"
    di              = !"d() { git diff --patch-with-stat HEAD~$1 } ; git diff-index --quiet HEAD -- || clear ; d"
    ds              = diff --staged --name-only --diff-filter=ACMR
    ec              = diff HEAD^ --name-only --diff-filter=ACMR
    ed              = diff HEAD --name-only --diff-filter=ACMR
    et              = conflicts
    f               = fetch --all
    gud             = commit --message=\"git gud\"
    i               = update-index --assume-unchanged
    lg              = log --all --decorate --abbrev-commit --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
    lgs             = log --all --decorate --abbrev-commit --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --stat
    p               = pull --all --recurse-submodules
    ps              = submodule foreach git pull
    r               = remote -v
    re              = commit --amend
    st              = !git status --porcelain | awk '{print $2}'
    t               = tag -l
    unc             = reset --soft HEAD^
    uni             = update-index --un-assume-unchanged
    unp             = push --force-with-lease origin HEAD^:master
    uns             = reset HEAD
    wc              = whatchanged -p --abbrev-commit --pretty=medium
    wtc             = !git commit -m \"$(curl -s whatthecommit.com/index.txt)\"

[github]
    user            = azahi

[url "git@github.com:"]
    insteadOf       = "gh:"
    pushInsteadOf   = "github:"
    pushInsteadOf   = "git://github.com/"

[url "git@gitlab.com:"]
    insteadOf       = "gl:"
    pushInsteadOf   = "gitlab:"
    pushInsteadOf   = "git://gitlab.com/"

[url "git@bitbucket.org:"]
    insteadOf       = "bb:"
    pushInsteadOf   = "bitbucket:"
    pushInsteadOf   = "git://bitbucket.org/"
