! Colors
#include ".Xresources.d/colors"

! Fonts
#include ".Xresources.d/fonts"
#include ".Xresources.d/xft"

! Terminals
#include ".Xresources.d/rxvt-unicode"
#include ".Xresources.d/xst"

! Misc
#include ".Xresources.d/emacs"
