! special
*.foreground:               #a19782
*.background:               #0b0806
*.cursorColor:              #844d2c
*.underlineColor:           #c1ab83

! black
*.color0:                   #0b0806
*.color8:                   #2f2b2a

! red
*.color1:                   #844d2c
*.color9:                   #a64848

! green
*.color2:                   #57553a
*.color10:                  #897f5a

! yellow
*.color3:                   #a17c38
*.color11:                  #c8b38d

! blue
*.color4:                   #41434f
*.color12:                  #526274

! magenta
*.color5:                   #6b4444
*.color13:                  #755c47

! cyan
*.color6:                   #59664c
*.color14:                  #718062

! white
*.color7:                   #a19782
*.color15:                  #c1ab83

URxvt.font:                 xft:tewi:style=Regular:size=8,  \
                            xft:Biwidth,                    \
                            xft:Fixed,                      \
                            xft:Misc Fixed Wide

*.boldFont:                 xft:tewi:style=Bold:size=8,     \
                            xft:tewi:style=Regular:size=8,  \
                            xft:Biwidth,                    \
                            xft:Fixed,                      \
                            xft:Misc Fixed Wide

*.italicFont:               xft:tewi:style=Regular:size=8,  \
                            xft:Biwidth,                    \
                            xft:Fixed,                      \
                            xft:Misc Fixed Wide

*.boldItalicFont:           xft:tewi:style=Bold:size=8,     \
                            xft:tewi:style=Regular:size=8,  \
                            xft:Biwidth,                    \
                            xft:Fixed,                      \
                            xft:Misc Fixed Wide

Sxiv.font:                  tewi:Style=Regular:size=8

URxvt.internalBorder:       6
URxvt.letterSpace:          0
URxvt.lineSpace:            0

URxvt.termName:             rxvt-256color
URxvt.imLocate:             en_US.UTF-8

URxvt.buffered:             true

URxvt.cursorUnderline:      false
URxvt.cursorBlink:          true

URxvt.loginShell:           true

URxvt.perl-ext-common:      default,matcher

URxvt.matcher.pattern.0:    \\b(http|https):\/\/[\\w\\-\\@;\\/?:&=%\\$.+!*\x27,~#]+
URxvt.matcher.launcher.0:   qutebrowser

!URxvt.matcher.pattern.0:    \\b(http|https):\/\/www\.youtube\.com/watch\\?v=([\\w-&=]+)
!URxvt.matcher.launcher.0:   streamlink

!URxvt.matcher.pattern.1:    \\b(http|https):\/\/(?!www\\.youtube.*)[\\w\\-\\@;\\/?:&=%\\$.+!*\x27,~#]+
!URxvt.matcher.launcher.1:   qutebrowser

URxvt.matcher.button:       1
URxvt.matcher.rend.0:       Uline fg5

URxvt.jumpScroll:           true

URxvt.saveLines:            4096

URxvt.scrollBar:            false
URxvt.scrollTtyKeypress:    true
URxvt.scrollTtyOutput:      false
URxvt.scrollWidthBuffer:    true
URxvt.scrollstyle:          plain

URxvt.urgentOnBell:         true
URxvt.visualBell:           false
