root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{c,C,c++,cc,cpp,cxx,cu,m,M,mm,h,hh,h++,hm,hpp,hxx,in,txx}]
indent_style = tab

[Makefile]
indent_style = tab

[*.{ac,am,m4)]
indent_style = tab

[*.cs]
charset = utf-8-bom
end_of_line = crlf

[*.ebuild]
indent_style = tab

[*.git*]
indent_style = tab
