root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = false
trim_trailing_whitespace = false

# Assembly
[*.{asm,s,S}]
indent_style = tab

# C/C++
[*.{c,h,cc,hh,cpp,hpp,cxx,hxx}]
indent_style = tab
max_line_length = 80

# C#
[*.{cs,fs}]
charset = utf-8-bom
end_of_line = crlf
indent_style = space

# Python
[*.py]
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 80
trim_trailing_whitespace = true

# Haskell
[*.{hs,lhs}]
indent_size = 2
indent_style = space

# Emacs Lisp
[*.el]
indent_size = 2
indent_style = space

# Common Lisp
[*.{lisp,lsp,l,cl}]
indent_size = 2
indent_style = space

# Scheme
[*.{scm,sps,sls,sld,ss,sc,sch}]
indent_size = 2
indent_style = space

# Racket
[*.rkt]
indent_size = 2
indent_style = space

# Make
[Makefile]
indent_style = tab
max_line_length = 80

# mk
[*.mk]
indent_style = tab

# CMake
[CMakeList.txt]
indent_size = 8
indent_style = space

# Autotools
[*.{ac,am,m4)]
indent_style = tab

# Ebuild
[*.ebuild]
indent_style = tab

# XML
[*.xml]
indent_style = tab

# Git
[*.git*]
indent_style = tab
