@namespace html url(http://www.w3.org/1999/xhtml);

/* AGENT_SHEET */

:root 
{
    --bg-1: #2f2b2a;
    --bg-2: #0b0806;
    --fg-1: #c1ab83;
    --fg-2: #a19782;
    --font-size: 12px;
    --font: "lucy tewi", "Efont Biwidth", "Misc Fixed", "Misc Fixed Wide", "Noto Sans";
    --height: 24px;
    --line-height: 13px;
    --icon-size: 15px;
    --text-align: left;
}

@-moz-document regexp("(https?:\/\/|file:\/\/\/)(.*)(\.)(jpeg|jpg|gif|png|apng|svg|bmp|webm|webp)")
{
    body
    {
        background: var(--bg-2) !important;
    }

    img.decoded
    {
        background-color: transparent !important;
    }
}

@-moz-document url("about:newtab")
{
    #onboarding-overlay-button,
    .prefs-pane-button
    {
        display: none !important;
    }
}

.vimvixen-hint
{
    background-color: var(--bg-1) !important;
    border: 1px solid var(--fg-1) !important;
    color: var(--fg-1) !important;
    font-family: var(--font) !important;
    font-size: var(--font-size) !important;
    font-weight: normal !important;
    padding: 3px 3px 3px 3px !important
    text-transform: lowercase !important;
}

.vimvixen-console
{
}

.vimvixen-console-command-wrapper
{
    border-top: none !important;
}

.vimvixen-console-completion
{
    background-color: var(--bg-2) !important;
    color: var(--fg-2) !important;
    font-family: var(--font) !important;
    font-size: 11px !important;
}

.vimvixen-console-completion-title
{
    background-color: var(--bg-2) !important;
    color: var(--fg-2) !important;
}

.vimvixen-console-completion-item
{
}

.vimvixen-console-completion-item.vimvixen-completion-selected
{
    background-color: var(--fg-2) !important;
    color: var(--bg-2) !important;
}

.vimvixen-console-completion-item-caption
{
}
    
.vimvixen-console-completion-item-url
{
}

.vimvixen-console-message
{
    font-family: var(--font) !important;
    font-size: 11px !important;
}

.vimvixen-console-error
{
    background-color: var(--bg-2) !important;
}

.vimvixen-console-info
{
    background-color: var(--bg-2) !important;
    color: var(--fg-2) !important;
}

.vimvixen-console-command {
    background-color: var(--bg-2) !important;
    color: var(--fg-2) !important;
}

.vimvixen-console-command-prompt:before {
    font-family: var(--font) !important;
    font-size: 11px !important;
}

.vimvixen-console-command-prompt.prompt-command:before
{
    font-family: var(--font) !important;
    font-size: 11px !important;
}

.vimvixen-console-command-prompt.prompt-find:before
{
    font-family: var(--font) !important;
    font-size: 11px !important;
}

.vimvixen-console-command-input
{
    font-family: var(--font) !important;
    font-size: 11px !important;
}
